@import "https://fonts.googleapis.com/css?family=Open+Sans:800i|Barlow:400i";

.jumbotronHome {
  background-image: url(../../images/main.jpg);
  color: white;
  height: 500px;
  background-size: cover;
  opacity: 0.9
}

.displayHome {
  padding-top: 150px;
  font-family: 'Open Sans', sans-serif;
  font-size: 90px;
  opacity: 0.75
}

.displayHome2 {
  padding-top: 0px;
  font-family: 'Barlow', sans-serif;
  font-size: 30px;
  opacity: 0.75
}

.jumbotronSearch {
  background-image: url(../../images/search.jpg);
  color: white;
  height: 600px;
  background-size: cover;
  opacity: 0.95
}

.displaySearch {
  padding-top: 90px;
  font-family: 'Barlow', sans-serif;
  font-size: 50px;
  opacity: 0.75
}

.displaySearchButton {
  padding-top: 5px
}

.jumbotronFinancialAid {
  background-image: url(../../images/financialaid.jpg);
  color: #7e7e7e;
  height: 600px;
  background-size: cover;
  opacity: 0.8
}

.displayFinancialAid {
  padding-top: 200px;
  font-family: 'Barlow', sans-serif;
  font-size: 50px
}
